
<div class="navbar-fixed">
        <nav style="background-color: #3c6d77;">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><i class="material-icons">book</i>Thumbola</a>
    
                <ul class="right hide-on-med-and-down">
                    <li><a href="javascript:void(0)" ng-click="navigateToRegister()">Register</a></li>
                    <li><a href="javascript:void(0)" ng-click="showAboutUS()">About</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="modal1" class="modal" ng-style="modalStyle" style="margin-top:5% !important">
            <div class="modal-content">
                <h5>About Product</h5>
                    <h6>Version : 1.0.0 </h6>
                    <h6> AngularJs : 1.4.7 </h6>
                    <h6> Material : <a href="https://materializecss.com">https://materializecss.com </a> </h6>
                    <h6> Contact : mukesh.kartik@gmail.com </h6>
            </div>
            <div class="modal-footer" style="border-top: 1px solid rgba(0,0,0,0.1);">
                <a href="javascript:void(0)" class=" centre btn waves-effect waves-green " ng-click="closePopup($event)">Perfect</a>
            </div>
        </div>